<div class="sidebar">
  <div class="rss">
	<h4>RSS</h4>
	<a href="/feed.xml"><img src="/assets/icons/feed-icon-14x14.png" alt="RSS"></a>
  </div>
  <div class="profile sidebar_box">
	<h4>プロフィール</h4>
	<img src="/assets/icons/icon_myself.jpg" alt="アイコン画像が表示できませんでした">
	<dl>
	  <dt>なまえ</dt>
	  <dd>tsucchi</dd>
	  <dt>ないよう</dt>
	  <dd>Perl とか DB とか雑談とかミルキィホームズとか</dd>
	  <dt>活動場所</dt>
	  <dd>偵都ヨコハマとその周辺</dd>

	  <dd><a href="https://twitter.com/tsucchi">@tsucchi(twitter)</a></dd>
	  <dd><a href="http://search.cpan.org/~tsucchi/">CPAN</a></dd>
	  <dd><a href="https://github.com/tsucchi">github</a></dd>
	  <dd><a href="http://d.hatena.ne.jp/tsucchi1022/">はてダ</a></dd>
	  <dd><a href="http://tsucchi.hatenablog.com/">はてブロ</a></dd>
	  <dd><a href="http://booklog.jp/users/tsucchi">Booklog</a></dd>
	</dl>
  </div>
  <div class="search sidebar_box">
	<h4>サイト内検索(google)</h4>
	<form class="well" action="http://www.google.com/search">
	  <input type="hidden" name="hl" value="ja" />
	  <input type="hidden" name="ie" value="Shift_JIS">
	  <input type="hidden" name="oe" value="Shift_JIS">
	  <input type="hidden" value="tsucchi.github.io" name="as_sitesearch" />
	  <input type="text" name="q" maxlength="256" value="" class="input-medium search-query"/>
	  <input type="submit" name="btnG" value="検索" class="btn"/>
	</form>
  </div>
  <div class="articles sidebar_box">
	<h4>Recent Posts</h4>
	<ul class="posts">
	  {% for post in site.posts limit :10 %}
	  <li><span>{{ post.date | date: "%Y-%m-%d" }}</span> : <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
	  {% endfor %}
	  <li><a href="/archive.html">...more</a></li>
	</ul>
  </div>
  <div class="twitter-widget">
	<h4>twitter</h4>
	<a class="twitter-timeline" href="https://twitter.com/tsucchi" data-widget-id="353733834472292352">@tsucchi からのツイート</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
  <div class="tags">
	<h4>タグ</h4>
	<ul class="unstyled">
	  {% assign tags_list = site.tags | sort_tags_list %}  
	  {% include JB/tags_list_for_side %}
	</ul>
  </div>
  <div class="booklog-widget">
	<h4>booklog</h4>
	<script type="text/javascript" src="http://widget.booklog.jp/blogparts/js/booklog_minishelf.js?black_disp" id="booklog_minishelf"></script>
	<script type="text/javascript" src="http://api.booklog.jp/json/tsucchi?category=0&count=15&callback=booklog_minishelf"></script>
  </div>
</div>
